* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

  font-weight: bold;
  color: white;
}

.App {
  width: 100%;
  height: 100vh;
}

.f-main {
  height: 100%;
}

.f-gradient-background {
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 100%;
}
.f-gradient-background > div {
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
  position: absolute;
  width: 100%;
  height: 100%;
}
.f-gradient-1 {
  background: linear-gradient(145deg, #c3f0c8, #509bf5);
}
.f-gradient-2 {
  background: linear-gradient(145deg, #509bf5, #f037a6);
}
.f-gradient-3 {
  background: linear-gradient(145deg, #ffc867, #f037a6);
}
.f-current-step-1 .f-gradient-1,
.f-current-step-2 .f-gradient-2,
.f-current-step-3 .f-gradient-3 {
  opacity: 1;
}

.f-wrapper {
  transition: transform ease 1s;
}

.f-container, .f-section {
  height: 90vh;
  overflow: hidden;
}

.f-container {
}

.f-section {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.f-action-bar {
  height: 10vh;
}

.f-action-container {
  display: flex;
  justify-content: space-evenly;
}

.m-recap + .f-action-container {
  margin-top: 2em;
}

.m-radio {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

button, input, select {
  border: solid white;
  padding: 1em 0;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1em;
}

button {
  border-width: 2px;
  background:rgba(236, 240, 241, .3);
  padding-left: 2em;
  padding-right: 2em;
}

input {
  border-width: 0 0 2px 0;
}

.m-recap > div {
  margin-bottom: 1em;
}

button:disabled {
  border-color: rgba(236, 240, 241,1.0);
  background: rgba(189, 195, 199, .5);
  color: rgba(149, 165, 166,1.0);
}